{{!--
/*
    # Citation for the following function:
    # Date: 8/12/2023
    # Copied from and adapted from the node.js starter code:
    # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
*/
--}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>US Adventure Tour Guides</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <h1>US Adventures Tour Guides Company</h1> 
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="tourGuides">Tour Guides</a>
        <a href="tourists">Tourists</a>
        <a href="locations">Locations</a>
        <a href="locationTypes">Location Types</a>
        <a href="tours">Tours</a>
        <a href="tourGuides_have_Tours">Tour Guide Assignments</a>
        <a href="tourists_have_Tours">Tourist Assignments</a>

    </nav>

    {{{body}}}

</body>
</html>