{{!--
/*
    # Citation for the following function:
    # Date: 8/12/2023
    # Copied from and adapted from the node.js starter code:
    # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
*/
--}}
<body>
    
    <main>
        <section>
            <h2>About</h2>
            <article>
                <p>US Adventures Tour Guides Company employs over 250 tour guides that provide
over 200,000 sightseeing tours annually in 10 different locations across the US. Come explore the great 
destinations with us and learn all about some historic sites in the US with our award winning tour guides.
                </p>
            </article>
        </section>
    </main>
</body>